html {
    background-color: #fff;
}

body {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2rem;
}

hr {
    color: #e6e6e6
}

footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
}

main {
    margin: 0 auto;
    max-width: 60rem;
}

:not(pre) > code {
    background-color: #efefef;
    padding: 1px 4px;
}

.invisible {
    display: none;
}

/* header */
header {
    max-width: 80rem;
    margin: 0 auto;
}
.navigation-links {
    display: flex;
    font-size: 1rem;
    gap: 1.5rem;
}
.navigation-links a {
    text-decoration: none;
}
.navigation-links a:hover {
    text-decoration: underline;
}

/* fonts */
:root {
    --font-japanese: "YakuHanJPs", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", sans-serif;
    --font-english: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
:lang(en) {
    font-family: var(--font-english);
}
:lang(ja) {
    font-family: var(--font-japanese);
}

/* posts */
span.date {
    color: #9a9a9a;
    display: flex;
    gap: 1rem;
    font-style: italic;
}

span.date > p {
    margin: 0 ;
}
ul.posts {
    list-style-type: none;
}
ul.posts li {
    margin: 1rem 0;
}
ul.posts a {
    text-decoration: none;
    font-size: 1.2rem;
}
ul.posts a:hover {
    text-decoration: underline;
}

/* each post */
article p:has(img) {
    display: flex;
}
article img {
    margin: auto;
}
div.content-container {
    max-width: 50rem;
    margin: auto;
}