/* variables */
:root {
    /* fonts */
    --font-japanese: "YakuHanJPs", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", sans-serif;
    --font-english: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* colors */
    --back-color: #FDFFFC;
    --text-color: #000;
    --date-color: #9a9a9a;
    --border-color: #E9631A;
    --link-color: #E9631A;

}
/* fonts */
:lang(en) {
    font-family: var(--font-english);
}
:lang(ja) {
    font-family: var(--font-japanese);
}

html {
    background-color: var(--back-color);
}

body {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    line-height: 1.5;
    max-width: 60rem;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 1.6rem;
}
h2 {
    font-size: 1.2rem;
}
hr {
    color: var(--border-color);
}

footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
}

main {
    margin: 0 auto;
    max-width: 60rem;
}

:not(pre) > code {
    background-color: #efefef;
    padding: 1px 4px;
}

.invisible {
    display: none;
}
a {
    color: var(--text-color);
    border-bottom: 1px solid var(--link-color);
    text-decoration: none;
}
a.no-decoration {
    border-bottom: none;
    text-decoration: none;
}
a.logo img{
    height: 6rem;
    width: auto;
}

/* icons */
.icon-new-tab::after {
    content: "";
    display: inline-block;
    background-image: url('/images/new_tab_50px_41px.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 0.7em;
    height: 0.57em;
    margin-left: 0.2em;
    /* position: absolute; */
    /* top: 0.2em; */
}
li:has(.icon-new-tab) {
    position: relative;
}
.icon-music::before {
    content: "";
    display: inline-block;
    background-image: url('/images/music_32px_50px.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 0.65em;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
}
li.icon-album {
    list-style: none;
    &::before {
        content: "";
        display: inline-block;
        background-image: url('/images/album_50px_47px.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 1.0em;
        height: 0.94em;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}
.icon-books::before {
    content: "";
    display: inline-block;
    background-image: url('/images/book_50px_39px.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1em;
    height: 0.78em;
    vertical-align: middle;
    margin-right: 0.5em;
}
.icon-mail::before{
    content: "";
    display: inline-block;
    background-image: url('/images/mail_50px_40px.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.0em;
    height: 0.8em;
    vertical-align: middle;
    margin-right: 0.5em;
}

time {
    white-space: nowrap;
}

/* header */
header {
    max-width: 80rem;
    margin: 0 auto;
}
.navigation-links {
    display: flex;
    font-size: 1rem;
    gap: 1.5rem;
}

.lang-switch {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

/* posts */
span.date {
    color: var(--date-color);
    display: flex;
    gap: 1rem;
    font-style: italic;
}

span.date > p {
    margin: 0 ;
}
ul.posts {
    list-style-type: none;
    li {
        margin: 0.3rem 0;
    }
    a {
        font-size: 1.1rem;
    }
    span.date {
        font-size: 0.9rem;
    }
}
div.categories-and-posts {
    display: flex;
    aside.categories {
        @media (width < calc(57rem)) {
            display: none;
        }
        margin-right: 2rem;
        ul {
            padding: 0;
            margin: 0;
            li {
                display: block;
            }
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

/* 404 page */
div.error-page-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 100%;
        height: auto;
    }
}
/* about page */
/* div.profile-container {
    display: flex;
    justify-content: space-between;
} */