html {
    background-color: #fff;
}

body {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    line-height: 1.5;
    max-width: 60rem;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 1.6rem;
}
h2 {
    font-size: 1.2rem;
}
hr {
    color: #e6e6e6
}

footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
}

main {
    margin: 0 auto;
    max-width: 60rem;
}

:not(pre) > code {
    background-color: #efefef;
    padding: 1px 4px;
}

.invisible {
    display: none;
}
a {
    /* color: #2E5EAA; */
    /* color: #982649; */
    /* color: #0B6E4F; */
    /* color: #005E7C; */
    /* color: #5465FF; */
    /* color: #ED254E;  */
    /* color: #FF0035; */
    color: #000;
    /* text-decoration: none; */
}
a:hover {
    text-decoration: underline;
}
time {
    white-space: nowrap;
}

/* header */
header {
    max-width: 80rem;
    margin: 0 auto;
}
.navigation-links {
    display: flex;
    font-size: 1rem;
    gap: 1.5rem;
}

.lang-switch {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

/* fonts */
:root {
    --font-japanese: "YakuHanJPs", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", sans-serif;
    --font-english: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
:lang(en) {
    font-family: var(--font-english);
}
:lang(ja) {
    font-family: var(--font-japanese);
}

/* posts */
span.date {
    color: #9a9a9a;
    display: flex;
    gap: 1rem;
    font-style: italic;
}

span.date > p {
    margin: 0 ;
}
ul.posts {
    list-style-type: none;
    li {
        margin: 0.3rem 0;
    }
    a {
        font-size: 1.1rem;
    }
    span.date {
        font-size: 0.9rem;
    }
}
div.categories-and-posts {
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
    aside.categories {
        ul {
            padding: 0;
            margin: 0;
            li {
                display: block;
            }
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

/* each post */
article {
	padding: 1rem;
	border: solid #e6e6e6 1px;
	border-radius: 4px;
	margin: 1rem;
	max-width: 50rem;
    h1 {
        margin: 0;
    }
    span.date {
        margin: 0.8rem;
    }
}
article p:has(img) {
    display: flex;
}
article img {
    margin: auto;
    max-width: 100%;
    height: auto;
}
div.content-container {
    max-width: 50rem;
    margin: auto;
}
h2#footnote-label {
    display: none;
}

/* index */
div.index-content {
    margin: 1rem auto;
    padding: 1rem;
    border: solid #e6e6e6 2px;
    border-radius: 4px;
    max-width: 50rem;

    h2 {
        margin: 0;
    }
    h3 {
        margin: 0;
    }
    div.recently-child {
        margin: 0.5rem auto auto 1rem;
        ul {
            margin: auto 0;
        }
    }
}

/* 404 page */
div.error-page-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 100%;
        height: auto;
    }
}
/* about page */
/* div.profile-container {
    display: flex;
    justify-content: space-between;
} */
